@font-face {
    font-family: 'icons';
    src: url('../images/utils/icons.eot');
    src: url('../images/utils/icons.eot?#iefix') format('embedded-opentype'),
    url('../images/utils/icons.woff') format('woff'),
    url('../images/utils/icons.ttf') format('truetype'),
    url('../images/utils/icons.svg#icons') format('svg');
}

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #e2e2e2;
    padding: 0;
    margin: 0;
    min-height: 100vh;
}

:root {
    --background: #2b2e22;
    --primary: rgb(14, 14, 14);
    --secondary: #4e688e;
    --error: #ad232a;
}

[class*='icon-']:before{
    font-family: 'icons' !important;
    font-style: normal;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    cursor: pointer;
    color: var(--secondary);
}
.icon-left-arrow:before{content:'\0041';}
.icon-right-arrow:before{content:'\0042';}
.icon-male:before{content:'\0043'; color: #193664 !important;}
.icon-female:before{content:'\0044'; color: #884c84 !important;}
.icon-kick:before{content:'\0045';}

.background {
    background-color: #2b2e33;
}

.primary {
    background-color: rgb(14, 14, 14);
}

.secondary {
    background-color: #4e688e;
}

.modal-header, .modal-footer {
    border-color: #1b1b1b;
}

.room {
    cursor: pointer !important;
}

.room:hover {
    background-color: rgba(15, 15, 15, 0.8);
    transition: 0.2s;
}

.infolabel {
    color: #c8c8c8;
}

input {
    background-color: #1b1f28 !important;
    outline: none !important;
    border: none !important;
    border-radius: 0px !important;
    color: #5e656d !important;
}

.card {
    padding: 12px;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.content {
    padding: 0 !important;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid #ad232a !important;
}

.validation-message {
    color: #ad232a;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }