.avatar_container {
    position: relative;
    overflow: hidden;
    width: var(--sizepx);
    height: var(--sizepx);
}

.avatar {
    position: absolute;
    width: var(--sizepx);
    height: var(--sizepx);
}

.avatar_background {
    background: url('images/avatar/background.webp');
    background-size: calc(var(--sizepx) * 5) var(--sizepx);
    border-radius: 10%;
    z-index: 1;
}

.avatar_face {
    background: url('images/avatar/face.webp');
    background-size: calc(var(--sizepx) * 4) calc(var(--sizepx) * 2);
    z-index: 2;
}

.avatar_cloth {
    bottom: 0;
    background: url('images/avatar/cloth.webp');
    background-size: calc(var(--sizepx) * 25) calc(var(--sizepx) * 4 * 0.35); 
    height: calc(var(--sizepx) * 0.35);
    z-index: 3;
}

.avatar_hair {
    background: url('images/avatar/hair.webp');
    background-size: calc(var(--sizepx) * 34) calc(var(--sizepx) * 2);
    z-index: 6;
}

.avatar_mouth {
    background: url('images/avatar/mouth.webp');
    background-size: calc(var(--sizepx) * 26) calc(var(--sizepx) * 2);
    z-index: 5;
}

.avatar_eye {
    bottom: calc(var(--sizepx) * 0.275);
    background: url('images/avatar/eye.webp');
    background-size: calc(var(--sizepx) * 25) calc(var(--sizepx) * 4 * 0.6);
    height: calc(var(--sizepx) * 0.6);
    z-index: 4;
}

.crown {
    z-index: 333;
    position: absolute;
    right: 0;
    top: 0;
    transform: rotate(45deg);
    height: 52px;
    width: 60px;
    background-image: url('images/utils/crown.svg');
    background-size: contain;
    filter: drop-shadow( 1px 1px 3px rgba(0, 0, 0, .8));
    opacity: 0.7;
}