@inherits LayoutComponentBase

<div class="page">
    <div class="main">
        <div class="content" style="padding: 0;">
            <div class="container-fluid" style="min-height: 100vh;">
                <div class="row justify-content-center">
                    @Body
                </div>
            </div>
        </div>
    </div>
</div>