<div class="modal center-block" tabindex="-1" role="dialog" style="display: @(display ? "block" : "none");">
    <div class="modal-dialog-centered modal-md" role="document" style="margin-left: auto; margin-right:  auto;">
        <div class="modal-content primary rounded-0">
            <div class="modal-header">
                <h5 class="modal-title">@Title</h5>
                <button type="button" class="close validation-message" data-dismiss="modal" aria-label="Close" @onclick="Toggle"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                @Body
            </div>
            <div class="modal-footer">
                @Footer
            </div>
        </div>
    </div>
</div>