@page "/rooms"
@using pixit.Server.Models
@using pixit.Client.Services
@inject NavigationManager NavigationManager
@inject WSService wss

<div>
    @foreach (var room in RoomList)
    {
    <div>@room.Name</div>
    }

    <button class="btn secondary" @onclick="CreateRoom">Dodaj pokój</button>
</div>

@code {
    List<RoomModel> RoomList = new List<RoomModel>();

    protected override async Task OnInitializedAsync()
    {
        wss.UserJoined += HandleUserJoined;
        wss.GetRooms += HandleGetRooms;
    }

    private void HandleUserJoined(object sender, UserModel user)
    {
        // tu bd jakiś token coś
    }

    private void HandleGetRooms(object sender, List<RoomModel> rooms)
    {
        RoomList = rooms;
        StateHasChanged();
    }

    private void CreateRoom()
    {
        wss.CreateRoom(new RoomModel()
        {
            Id = 1,
            Name = "Pokój test"
        });
    }
}