# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.pixit.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Kamil\source\repos\pixit\.idea\.idea.pixit\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
